@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-family: 'Roboto', arial, sans-serif;
}
#time{
  display: block;
  height:10vh;
  width:100%;
  border:1px solid red;
}
.container {
  text-align: center;
}
